* {
    font-family: 'Noto sans', sans-serif;
}

p {
    text-align: justify;
}

h1 {
    background-color: #B85C38;
    padding: 8px;
}

h1, h2 {
    font-family: 'Oswald', sans-serif;
}

header {
    display: flex;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: #2D2424;
    width: 100%;
    height: 80px;
    text-align: center;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: white;
}

nav span {
    font-size: 1.25em;
    text-decoration: underline;
    padding: 10px;
}

nav {
    font-family: 'Noto Sans', sans-serif;
    color: #E0C097;
}

main {
    margin: 0;
    
    display: flex;
    flex-direction: row;
}

footer {
    align-content: space-between;
    padding: 20px;
    text-align: center;
    background-color: #2D2424;
    color: #E0C097;
}

aside {
    padding: 10px;
    min-width: 250px;
    background-color:#E0C097;
}

article > h1 {
    color: white;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #2D2424;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: solid #2D2424;
    color: #2D2424;
    background-color: white;
    font-size: large;
}

button:hover {
    background-color: #2D2424;
    color: white;
}

.box {
    flex-grow: 1;
    align-self: center;
}

.logo {
    font-family: 'Oswald', sans-serif;
    color: #2D2424;
    background-color: #E0C097;
    padding-left: 5px;
    padding-right: 5px;
}

.general {
    margin-bottom: 50px;
}

.general p {
    margin-top: 16px;
    padding-left: 20px;
    border-left:5px solid #2D2424;
}

.card {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow:0 5px 5px 0 rgb(14, 14, 14);
}

.contact {
    padding: 16px;
    margin-top: 40px;
}

#banner {
    flex-grow: 1;
    background-image: url("coffee-banner.webp");
    min-height:100px;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 16px;
    padding-right: 16px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#banner blockquote {
    background-color:rgba(255,255,255,.55);
    color:#2D2424;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}
/* 
#wrapper {
} */

#content {
    padding: 16px;
}

#profile-img {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80px;
    height: 80px;
    border-radius: 50% 50% 50% 50%;
    max-height: 100%;
    object-fit: cover;
}

#profile-social {
    display: flex;
}

#profile-social img {
    flex-grow: 1;
    width: 45px;
    height: 45px;
    margin: 15px;
    object-fit: contain;
}
@media screen and (max-width: 700px) {
    main {
        flex-direction: column;
    }
    
    aside {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

